<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - PlaceFinderWeb</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
          integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
          crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
        integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
        crossorigin=""></script>
</head>
<body class="h-dvh w-full flex flex-col poppins-regular">
<div id="modalContainer" class="fixed top-0 left-0 w-full h-full z-[6000] hidden items-center justify-center">
    <div id="modalOverlayBackground" class="w-full h-full bg-black/50 backdrop-blur-sm pointer-events-none absolute top-0 left-0"></div>
    <div id="modal" class="rounded-xl bg-white border-gray-300 border-2 p-5 z-[7000]">
        <div class="flex items-center justify-between">
            <h3 id="modalTitle" class="text-2xl font-bold"></h3>
            <button id="modalCloseButton" class="flex items-center justify-center p-2 hover:bg-gray-100 rounded-xl">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                    <path fill-rule="evenodd" d="M5.47 5.47a.75.75 0 0 1 1.06 0L12 10.94l5.47-5.47a.75.75 0 1 1 1.06 1.06L13.06 12l5.47 5.47a.75.75 0 1 1-1.06 1.06L12 13.06l-5.47 5.47a.75.75 0 0 1-1.06-1.06L10.94 12 5.47 6.53a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd"/>
                </svg>
            </button>
        </div>
        <div id="modalContent"></div>
    </div>
</div>
<div id="toast" class="-translate-y-[250%] flex items-center justify-between gap-4 px-5 py-2 min-w-64 bg-white rounded-xl fixed z-[5000] border-2 border-gray-300 inset-x-1/2 -translate-x-1/2 transition-transform">
    <div></div>
    <span></span>
</div>
<header class="bg-white h-16 w-full p-5 flex items-center justify-between border-gray-300 border-b-2">
    <a asp-page="/Index">
        <h1 class="text-2xl sm:text-3xl font-bold text-center"><span class="text-red-600">Place</span>Finder</h1>
    </a>
    <nav>
        <a asp-page="/places/create" class="flex w-full gap-2 items-center justify-center rounded-xl bg-red-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-red-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-red-600">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                <path d="M10.75 4.75a.75.75 0 0 0-1.5 0v4.5h-4.5a.75.75 0 0 0 0 1.5h4.5v4.5a.75.75 0 0 0 1.5 0v-4.5h4.5a.75.75 0 0 0 0-1.5h-4.5v-4.5Z"/>
            </svg>
           Add Place 
        </a>
    </nav>
</header>
<main class="flex-1 h-full">
    @RenderBody()
</main>


<script src="~/js/site.js" asp-append-version="true"></script>
<script src="~/js/toast.js" asp-append-version="true"></script>
<script src="~/js/modal.js" asp-append-version="true"></script>


@await RenderSectionAsync("Scripts", required: false)
</body>
</html>